@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.app{
  font-family: "Inter", sans-serif;
}

.app-background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000;
  background-image: url('./assets/shadow.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.about-card{
  background-position: center;
  background-size: cover;
  background-image: url('./assets/about-us/about.png');
}

.about-background{
  background-image: url('./assets/About-us.png');
}

.btn{
  padding: 1rem;
  text-align: center;
  font-weight: 500;
  border-radius: 2rem;
  border: 1px solid #20E4D1;
  cursor: pointer;
}


.shadow{
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.10);
}

.ellispe{
  background: url('./assets/Ellipse1.png');
}

.flex-wraps{
  display: flex;
  flex-wrap: wrap;
}
.cards-container{
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
  gap: 1rem;
}

.active{
 color: #20E4D1;
}

.card{
  flex: 1 1 calc(33.33% - 1rem); 
  max-width: calc(33.33% - 1rem);
}

.bg1{
  background: url('./assets/card/bg-card1.png');
  background-repeat: no-repeat;
  background-size: 10rem;
  background-position-x: 85%;
  background-position-y: 30%;
}

.bg2{
  background: url('./assets/card/bg-card2.png');
  background-repeat: no-repeat;
  background-size: 10rem;
  background-position-x: 85%;
  background-position-y: 30%;
}
.bg3{
  background: url('./assets/card/bg-card3.png');
  background-repeat: no-repeat;
  background-size: 10rem;
  background-position-x: 85%;
  background-position-y: 30%;
}
.bg4{
  background: url('./assets/card/bg-card4.png');
  background-repeat: no-repeat;
  background-size: 10rem;
  background-position-x: 85%;
  background-position-y: 30%;
}
.bg5{
  background: url('./assets/card/bg-card5.png');
  background-repeat: no-repeat;
  background-size: 10rem;
  background-position-x: 85%;
  background-position-y: 30%;
}

.bg6{
  background: url('./assets/card/bg-card6.png');
  background-repeat: no-repeat;
  background-size: 10rem;
  background-position-x: 85%;
  background-position-y: 30%;
}

.left-quote-bg{
  background: url('./assets/card/left-quote.png');
  background-repeat: no-repeat;
  background-size: 8rem;
  background-position-x: 10%;
  background-position-y: 50%;
}
.left-bg{
  background: url('./assets/left.png');
  background-repeat: no-repeat;
}
.right-bg{
  background: url('./assets/right.png');
  background-repeat: no-repeat;
}


@media (max-width: 1000px) {
  .left-quote-bg{
    background-size: 6rem;
    background-position-x: 10%;
    background-position-y: 10%;
  }
  .btn{
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card{
    flex: 1 1 100%; 
    max-width: 100%;
  }
  }

  @media (max-width: 1110px) {
    .full-width{
      width: 100%;
    }
  }
@media (max-width: 1300px) {
  .graduate{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .graduate div{
    width: 100%;
  }

  .graduate div img{
    position: relative;
  }
}


